* {
    font-family: sans-serif;
}

.container {
    text-align: center;
}

.options {
    margin-bottom: 0.5em;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 0.2em;
}

.options button {
    padding: 0.5em;
    border-color: #fff #7d7d7d #7d7d7d #fff;
}

.menu .counter-container {
    align-items: center;    
    display: inline-block;
    color: red;
    background-color: black;
    padding: 0.5em;
}

.game-container {
    display: inline-block;
    border: 2px solid;
    border-color: #fff #7d7d7d #7d7d7d #fff;
    padding: 5px;
    background: lightgrey;
    cursor: pointer;
}

.game-container #grid {
    border-spacing: 0;
    border: 3px solid;
    border-color: #7d7d7d #fff #fff #7d7d7d;
}

.game-container #grid .cell {
    background: lightgrey;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-top: 1px solid #7d7d7d;
    border-left: 1px solid #7d7d7d;
}

.game-container #grid .cell.hide:not(:active):not(.mine) {
    border: 2px solid black;
    border-color: #fff #7d7d7d #7d7d7d #fff;
}

.game-container #grid .cell.flag {
    color: red;
}

.game-container #grid .cell.mine:not(.hide) {
    background: red;
}